*.pyc
*~
.nfs*
~$*
*.Rhistory
*.aux
*.bbl
*.blg
*.log
.*.swp
.ipynb_checkpoints
.spyproject/
.vscode/
StatisticsMachineLearningPython*.pdf
build/
auto_gallery/
python_lang/*.rst
scientific_python/*.rst
statistics/*.rst
machine_learning/*.rst
deep_learning/*.rst
nlp/*rst
*_files
younes/
# pixi environments
.pixi
*.egg-info
